<!-- cards -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="text-center border-0 android card">
          <div class="card-body">
            <div class="header-icon mx-auto rounded-circle mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24px"
                height="24px" area-hidden="true" class="MuiBox-root css-1m01c8l iconify iconify--ant-design"
                viewBox="0 0 1024 1024">
                <path fill="currentColor"
                  d="M270.1 741.7c0 23.4 19.1 42.5 42.6 42.5h48.7v120.4c0 30.5 24.5 55.4 54.6 55.4 30.2 0 54.6-24.8 54.6-55.4V784.1h85v120.4c0 30.5 24.5 55.4 54.6 55.4 30.2 0 54.6-24.8 54.6-55.4V784.1h48.7c23.5 0 42.6-19.1 42.6-42.5V346.4h-486v395.3zm357.1-600.1l44.9-65c2.6-3.8 2-8.9-1.5-11.4-3.5-2.4-8.5-1.2-11.1 2.6l-46.6 67.6c-30.7-12.1-64.9-18.8-100.8-18.8-35.9 0-70.1 6.7-100.8 18.8l-46.6-67.5c-2.6-3.8-7.6-5.1-11.1-2.6-3.5 2.4-4.1 7.4-1.5 11.4l44.9 65c-71.4 33.2-121.4 96.1-127.8 169.6h486c-6.6-73.6-56.7-136.5-128-169.7zM409.5 244.1a26.9 26.9 0 1126.9-26.9 26.97 26.97 0 01-26.9 26.9zm208.4 0a26.9 26.9 0 1126.9-26.9 26.97 26.97 0 01-26.9 26.9zm223.4 100.7c-30.2 0-54.6 24.8-54.6 55.4v216.4c0 30.5 24.5 55.4 54.6 55.4 30.2 0 54.6-24.8 54.6-55.4V400.1c.1-30.6-24.3-55.3-54.6-55.3zm-658.6 0c-30.2 0-54.6 24.8-54.6 55.4v216.4c0 30.5 24.5 55.4 54.6 55.4 30.2 0 54.6-24.8 54.6-55.4V400.1c0-30.6-24.5-55.3-54.6-55.3z">
                </path>
              </svg></div>
            <div class="h4 card-title h5">714K</div>
            <p class="text-capitalize fw-semibold card-text">weekly sales</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="text-center border-0 mac card">
          <div class="card-body">
            <div class="header-icon mx-auto rounded-circle mb-3"><svg xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" class="MuiBox-root css-1m01c8l iconify iconify--ant-design" width="24px"
                height="24px" viewBox="0 0 1024 1024">
                <path fill="currentColor"
                  d="M747.4 535.7c-.4-68.2 30.5-119.6 92.9-157.5-34.9-50-87.7-77.5-157.3-82.8-65.9-5.2-138 38.4-164.4 38.4-27.9 0-91.7-36.6-141.9-36.6C273.1 298.8 163 379.8 163 544.6c0 48.7 8.9 99 26.7 150.8 23.8 68.2 109.6 235.3 199.1 232.6 46.8-1.1 79.9-33.2 140.8-33.2 59.1 0 89.7 33.2 141.9 33.2 90.3-1.3 167.9-153.2 190.5-221.6-121.1-57.1-114.6-167.2-114.6-170.7zm-105.1-305c50.7-60.2 46.1-115 44.6-134.7-44.8 2.6-96.6 30.5-126.1 64.8-32.5 36.8-51.6 82.3-47.5 133.6 48.4 3.7 92.6-21.2 129-63.7z">
                </path>
              </svg></div>
            <div class="h4 card-title h5">13.5M</div>
            <p class="text-capitalize fw-semibold card-text">new users</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="text-center border-0 windows card">
          <div class="card-body">
            <div class="header-icon mx-auto rounded-circle mb-3"><svg xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" class="MuiBox-root css-1m01c8l iconify iconify--ant-design" width="24px"
                height="24px" viewBox="0 0 1024 1024">
                <path fill="currentColor"
                  d="M523.8 191.4v288.9h382V128.1zm0 642.2 382 62.2v-352h-382zM120.1 480.2H443V201.9l-322.9 53.5zm0 290.4L443 823.2V543.8H120.1z">
                </path>
              </svg></div>
            <div class="h4 card-title h5">17.2M</div>
            <p class="text-capitalize fw-semibold card-text">item orders</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="text-center border-0 bug card">
          <div class="card-body">
            <div class="header-icon mx-auto rounded-circle mb-3"><svg xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" class="MuiBox-root css-1m01c8l iconify iconify--ant-design" width="24px"
                height="24px" viewBox="0 0 1024 1024">
                <path fill="currentColor"
                  d="M304 280h416c4.4 0 8-3.6 8-8 0-40-8.8-76.7-25.9-108.1-17.2-31.5-42.5-56.8-74-74C596.7 72.8 560 64 520 64h-16c-40 0-76.7 8.8-108.1 25.9-31.5 17.2-56.8 42.5-74 74C304.8 195.3 296 232 296 272c0 4.4 3.6 8 8 8z">
                </path>
                <path fill="currentColor"
                  d="M940 512H792V412c76.8 0 139-62.2 139-139 0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8 0 34.8-28.2 63-63 63H232c-34.8 0-63-28.2-63-63 0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8 0 76.8 62.2 139 139 139v100H84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h148v96c0 6.5.2 13 .7 19.3C164.1 728.6 116 796.7 116 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8 0-44.2 23.9-82.9 59.6-103.7 6 17.2 13.6 33.6 22.7 49 24.3 41.5 59 76.2 100.5 100.5 28.9 16.9 61 28.8 95.3 34.5 4.4 0 8-3.6 8-8V484c0-4.4 3.6-8 8-8h60c4.4 0 8 3.6 8 8v464.2c0 4.4 3.6 8 8 8 34.3-5.7 66.4-17.6 95.3-34.5 41.5-24.3 76.2-59 100.5-100.5 9.1-15.5 16.7-31.9 22.7-49C812.1 793.1 836 831.8 836 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8 0-79.3-48.1-147.4-116.7-176.7.4-6.4.7-12.8.7-19.3v-96h148c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z">
                </path>
              </svg></div>
            <div class="h4 card-title h5">234</div>
            <p class="text-capitalize fw-semibold card-text">bug reports</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /cards -->

<!-- chart -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3 justify-content-center">
            <canvas baseChart [plugins]="barChartPlugins" class="chart" [data]="barChartData"
              [options]="barChartOptions" [type]="barChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
        <!--/card-->
      </div>
      <div class="col-4">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3 justify-content-center">
            <canvas baseChart [plugins]="pieChartPlugins" class="chart" [data]="pieChartData" [type]="pieChartType"
              [options]="pieChartOptions">
            </canvas>
          </div>
        </div>
        <!--/card-->
      </div>
    </div>
  </div>
</section>
<!-- chart -->

<!-- news card -->
<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3 justify-content-center">
            <ng-container *ngIf="products$ | async as products; else loading;">
              <h4>News Update</h4>
              <ng-container *ngFor="let product of products.products | slice:0:4 ; index as i;">
                <!--news-->
                <div class="d-flex algin-items-center justify-content-between">
                  <div class="d-flex">
                    <img height="48px" src="{{product.images[0]}}" width="48px" class="rounded me-3" alt="loading" />
                    <div>
                      <h6 class="mt-0">{{product.title}}</h6>
                      <p class="small mb-0 text-muted">{{product.brand}}</p>
                    </div>
                  </div>
                  <small class="align-self-center text-muted">about {{i+1}} hours ago</small>
                </div>
                <!-- /news -->
              </ng-container>
            </ng-container>
          </div>
          <div class="card-footer bg-white text-end fw-bold p-3">
            <a routerLink="view-all">View All</a>
          </div>
        </div>
        <!-- /card -->
      </div>
      <div class="col-4">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3 ">
            <h4>Order Timeline</h4>
            <!--order info-->
            <div class="d-flex">
              <div class="d-flex flex-column me-2">
                <fa-icon [icon]="'circle'" class="text-primary" size="sm"></fa-icon>
                <div class="vr mx-auto"></div>
              </div>
              <div>
                <h6 class="small">1983, orders, $4220</h6>
                <p class="display-6 mb-0 fw-semibold">25 Aug 2022 3:11 AM</p>
              </div>
            </div>
            <!--/order info-->
            <!--order info-->
            <div class="d-flex">
              <div class="d-flex flex-column me-2">
                <fa-icon [icon]="'circle'" class="text-success" size="sm"></fa-icon>
                <div class="vr mx-auto"></div>
              </div>
              <div>
                <h6 class="small">12 Invoices have been paid</h6>
                <p class="display-6 mb-0 fw-semibold">25 Aug 2022 3:16 AM</p>
              </div>
            </div>
            <!--/order info-->
            <!--order info-->
            <div class="d-flex">
              <div class="d-flex flex-column me-2">
                <fa-icon [icon]="'circle'" class="text-danger" size="sm"></fa-icon>
                <div class="vr mx-auto"></div>
              </div>
              <div>
                <h6 class="small">Order #37745 from September</h6>
                <p class="display-6 mb-0 fw-semibold">25 Sep 2022 3:11 AM</p>
              </div>
            </div>
            <!--/order info-->
            <!--order info-->
            <div class="d-flex">
              <div class="d-flex flex-column me-2">
                <fa-icon [icon]="'circle'" class="text-primary text-opacity-25" size="sm"></fa-icon>
              </div>
              <div>
                <h6 class="small">New order placed #XF-2356</h6>
                <p class="display-6 mb-0 fw-semibold">25 Sep 2022 3:11 AM</p>
              </div>
            </div>
            <!--/order info-->
          </div>
        </div>
        <!-- /card -->
      </div>
    </div>
  </div>
</section>
<!--news card-->

<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3">
            <h4>Traffic by Site</h4>
            <div class="row g-3">
              <!-- facebook -->
              <div class="col-6">
                <div class="card align-items-center p-3">
                  <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" color="rgb(24, 119, 242)"
                      xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                      class="MuiBox-root css-13nr1dd iconify iconify--eva" width="34" height="34" viewBox="0 0 24 24">
                      <g id="iconifyReact12">
                        <g id="iconifyReact13">
                          <path id="iconifyReact14" fill="currentColor"
                            d="M17 3.5a.5.5 0 0 0-.5-.5H14a4.77 4.77 0 0 0-5 4.5v2.7H6.5a.5.5 0 0 0-.5.5v2.6a.5.5 0 0 0 .5.5H9v6.7a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-6.7h2.62a.5.5 0 0 0 .49-.37l.72-2.6a.5.5 0 0 0-.48-.63H13V7.5a1 1 0 0 1 1-.9h2.5a.5.5 0 0 0 .5-.5Z">
                          </path>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <h6>323.23k</h6>
                  <p class="small mb-0 text-muted">Facebook</p>
                </div>
              </div>
              <!-- /facebook -->
              <!-- google -->
              <div class="col-6">
                <div class="card align-items-center p-3">
                  <div class="mb-3">
                    <svg color="rgb(223, 62, 48)" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                      class="MuiBox-root css-1nwc0y iconify iconify--eva" width="34" height="34" viewBox="0 0 24 24">
                      <g id="iconifyReact15">
                        <g id="iconifyReact16">
                          <path id="iconifyReact17" fill="currentColor"
                            d="M17.5 14a5.51 5.51 0 0 1-4.5 3.93a6.15 6.15 0 0 1-7-5.45A6 6 0 0 1 12 6a6.12 6.12 0 0 1 2.27.44a.5.5 0 0 0 .64-.21l1.44-2.65a.52.52 0 0 0-.23-.7A10 10 0 0 0 2 12.29A10.12 10.12 0 0 0 11.57 22A10 10 0 0 0 22 12.52v-2a.51.51 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h5">
                          </path>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <h6>323.23k</h6>
                  <p class="small mb-0 text-muted">Google</p>
                </div>
              </div>
              <!-- /google -->
              <!-- linkdin -->
              <div class="col-6">
                <div class="card align-items-center p-3">
                  <div class="mb-3">
                    <svg color="rgb(0, 96, 151)" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                      class="MuiBox-root css-hp4woq iconify iconify--eva" width="34" height="34" viewBox="0 0 24 24">
                      <g id="iconifyReact18">
                        <g id="iconifyReact19">
                          <g id="iconifyReact20" fill="currentColor">
                            <path
                              d="M15.15 8.4a5.83 5.83 0 0 0-5.85 5.82v5.88a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a1.94 1.94 0 0 1 2.15-1.93a2 2 0 0 1 1.75 2v5.81a.9.9 0 0 0 .9.9h2.1a.9.9 0 0 0 .9-.9v-5.88a5.83 5.83 0 0 0-5.85-5.82Z">
                            </path>
                            <rect width="4.5" height="11.7" x="3" y="9.3" rx=".9" ry=".9"></rect>
                            <circle cx="5.25" cy="5.25" r="2.25"></circle>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <h6>323.23k</h6>
                  <p class="small mb-0 text-muted">Linkedin</p>
                </div>
              </div>
              <!-- /linkedin -->
              <!-- twitter -->
              <div class="col-6">
                <div class="card align-items-center p-3">
                  <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" color="rgb(28, 156, 234)"
                      xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                      class="MuiBox-root css-1q6oxet iconify iconify--eva" width="34" height="34" viewBox="0 0 24 24">
                      <g id="iconifyReact21">
                        <g id="iconifyReact22">
                          <path id="iconifyReact23" fill="currentColor"
                            d="M8.08 20A11.07 11.07 0 0 0 19.52 9A8.09 8.09 0 0 0 21 6.16a.44.44 0 0 0-.62-.51a1.88 1.88 0 0 1-2.16-.38a3.89 3.89 0 0 0-5.58-.17A4.13 4.13 0 0 0 11.49 9C8.14 9.2 5.84 7.61 4 5.43a.43.43 0 0 0-.75.24a9.68 9.68 0 0 0 4.6 10.05A6.73 6.73 0 0 1 3.38 18a.45.45 0 0 0-.14.84A11 11 0 0 0 8.08 20">
                          </path>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <h6>323.23k</h6>
                  <p class="small mb-0 text-muted">Twitter</p>
                </div>
              </div>
              <!-- /twitter -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <!-- card -->
        <div class="card border-0 shadow-sm">
          <div class="card-body d-flex flex-column gap-3 justify-content-center">
            <h4>Tasks</h4>
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="logo">
                <label class="form-check-label fw-semibold" for="logo">
                  Create FireStone Logo
                </label>
              </div>
              <button id="logo" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
              <div ngbDropdownMenu aria-labelledby="logo">
                <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
              </div>
            </div>
            <!--/task-->
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="addFiles">
                <label class="form-check-label fw-semibold" for="addFiles">
                  Add SCSS and JS files if required
                </label>
              </div>
              <button id="scss" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
              <div ngbDropdownMenu aria-labelledby="scss">
                <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
              </div>
            </div>
            <!--/task-->
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="meeting">
                <label class="form-check-label fw-semibold" for="meeting">
                  Stakeholder Meeting
                </label>
              </div>
              <button id="meeting" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
              <div ngbDropdownMenu aria-labelledby="meeting">
                <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
              </div>
            </div>
            <!--/task-->
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showcase">
                <label class="form-check-label fw-semibold" for="showcase">
                  Sprint Showcase
                </label>
              </div>
              <button id="showcase" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
              <div ngbDropdownMenu aria-labelledby="showcase">
                <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
              </div>
            </div>
            <!--/task-->
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="newUser">
                <label class="form-check-label fw-semibold" for="newUser">
                 Add New User
                </label>
              </div>
              <button id="addNewUser" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
                <div ngbDropdownMenu aria-labelledby="addNewUser">
                  <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                  <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                  <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
                </div>
            </div>
            <!--/task-->
            <!--task-->
            <div class="d-flex align-items-center justify-content-between" ngbDropdown>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="removeBan">
                <label class="form-check-label fw-semibold" for="removeBan">
                 Remove User Aman
                </label>
              </div>
              <button id="removeUser" ngbDropdownToggle class="btn p-0"><fa-icon [icon]="'ellipsis-v'"></fa-icon></button>
                <div ngbDropdownMenu aria-labelledby="removeUser">
                  <button ngbDropdownItem><fa-icon [icon]="'check-circle'" class="me-1"></fa-icon> Mark as done</button>
                  <button ngbDropdownItem><fa-icon [icon]="'pencil'" class="me-1"></fa-icon> Edit</button>
                  <button ngbDropdownItem><fa-icon [icon]="'trash'" class="me-1"></fa-icon> Delete</button>
                </div>
            </div>
            <!--/task-->
          </div>
        </div>
        <!--/card-->
      </div>
    </div>
  </div>
</section>


<ng-template #loading>
  <div class="d-flex justify-content-center algin-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>